<!DOCTYPE html>
<html>
<head>
  <title>Diggit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <h1 id="logo">Diggit</h1>
  <ul>
    <li>Genres</li>
    <li>Recent Uploads</li>
    <li>Your Profile</li>
  </ul>
</div>

<%= yield %>

</body>
</html>
