<div id="navbar">
    
<h1 id="logo">Dig[git]</h1>
<nav>
    <ul>
    <% if logged_in? %>
        <li><%= link_to current_user.username, user_path( current_user ) %></li>
        <li><%= link_to "Logout", session_destroy_path %></li>
    <% else %>
        <li><%= link_to "Login", session_create_path %> </li>
    <% end %>
    </ul>
</nav>

</div>