<% @songs.each do |song| %>

<div class="song-overview">
    <%= link_to song.title, song_path( song ) %>
    <%= button_to "Play", class: 'show-player' %>
    <div class="song">
        <%= embed( song ).html_safe %>
    </div>
</div>

<% end %>