/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1#logo {
  width: 200px;
  float: left;
  color: white;
  margin: 0 0 0 100px;
}
.nav {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 50;
}
.nav .sign-in-form {
    display: none;
    position: fixed;
    right: 20%;
    top: 10px;
}
.sign-in-form input {
    display: inline-block;
    width: 20%;
    height: 1.75em;
    color: white;
    text-shadow: 1px 1px 20px #333;
    background-color: #EEE;
}
.sign-in-form #username,
.sign-in-form #password {
    display: inline-block;
    width: 35%;
    height: 2em;
}
.nav ul {
  float: right;
  margin-right: 50px;
  padding: 10px;
}
.nav ul li,
.nav ul li a {
  display: inline;
  color: white;
  margin-right: 10px;
}
.nav ul li:hover,
.nav ul li a:hover {
  color: yellow;
}

ol {
  list-style: none;
}

.song {
    width: 400px; 
    height: 400px;
    margin: 10px auto; 
    color: black; 
    overflow: hidden;
}

.delete {
    position: fixed;
    top: 50%;
    right: 50%;
}

