/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1#logo {
  width: 200px;
  float: left;
  color: white;
  margin-left: 100px;
}
.nav {
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: black;
  position: fixed;
}
.nav ul {
  float: right;
  margin-right: 100px;
  padding: 25px;
}
.nav ul li {
  display: inline;
  color: white;
  margin-right: 10px;
}
.nav ul li:hover {
  color: yellow;
}

.top-20-list {
  width: 70%;
  margin-top: 150px;
}

ol {
  list-style: none;
}

div.album-artwork {
  width: 150px;
  border:
}

div.song {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
  max-height: 250px;
  padding: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #F2F2F2;
}

div.song h4 {
  font-size: 1.3em;
}

div.song div{
  display: inline-block;
}
div.song audio{
  bottom: 0;
}


